* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: wheat;
  font-size: 17px;
}

#about {
  background-image: url(./macos-monterey-1280x720-dark-wwdc-2021-5k-23425.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

#about h1 {
  font-size: 50px;
}
#about p {
  font-size: 20px;
}
#about .button {
  font-size: 18px;
  text-decoration: none;
  color: antiquewhite;
  border: antiquewhite 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 15px;
}
#about .button:hover {
  background: rgb(173, 172, 169);
  color: #3a18b5;
}
